### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

## Findings:

# 1 - Gender specific spending habbits 
When grouping by gender there is a no stark difference in consumption habitits between Females, Males & Other / Non-Disclosed. Males spent similar amounts on average but accounted for 84% of purchases. This could be enough reason for targeted marketing towards the female and other/non-disclosed audience as it should be considered an untapped market. Since all gender groups spent the approximately the same on average it would seem viable to selectively market. 

# 2 - Age specific spending habbits 
20-24 year olds accounted for 44.79% of expandature, once again presenting an untouched opportunity for markteting stratergies. However, this could also be due to a higher income the lesser age groups and a lower attached responsibility within that age bracket. Thus, there are potentially confounding factors that should be further assessed before marketing commences. 

# 3 - Price is not a factor when assessing the consumption
When comparing prices of the items that were bought more frequently and those not. There was no distinct difference. This may lead to the conclusion that price is not a defining factor when addressing consumption. therefore, sales may not be a vaible approach when attempting to scale up profits.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
purchase_data.head()
TP=len(purchase_data["SN"].unique())
data = {'Total Players':  TP}
Total_Players= pd.DataFrame(data, index = ['0'])
Total_Players

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
Unique_items=len(purchase_data["Item ID"].unique())

Average_price= round(purchase_data["Price"].mean(),2)

number_of_purchases=len(purchase_data["Purchase ID"])

Total_revenue =round(purchase_data["Price"].sum(),2)

Purchasing_Analysis  = {'Number of Unique items':  Unique_items,
        'Average Price': Average_price,
        'Number of Purchases': number_of_purchases,
        'Total Revenue': Total_revenue
       }

Purchasing_Analysis= pd.DataFrame(Purchasing_Analysis, index = ['0'])
Purchasing_Analysis_formatted = Purchasing_Analysis.style.format({'Total Revenue': "${:,}",'Average Price': "${:}"})
Purchasing_Analysis_formatted

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
duplicateless = purchase_data.drop_duplicates(subset=['SN'])
gender_count=duplicateless["Gender"].value_counts().to_frame()
gender_count["Percentage of Players"]= round((gender_count["Gender"]/gender_count["Gender"].sum())*100,2)
gender_count.columns = ['Total Count', 'Percentage of Players']
gender_count = gender_count.style.format({'Percentage of Players': "{:}%"})
gender_count


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
count=purchase_data["Gender"].value_counts().to_frame()
grouped = purchase_data.groupby("Gender")
count["Average Purchase Price"]=grouped["Price"].mean()
count["Total Purchase Value"]=grouped["Price"].sum()

g_count=duplicateless["Gender"].value_counts().to_frame()

count["Avg Total Purchase per Person"]=count["Total Purchase Value"]/g_count["Gender"]
Purchasing_Analysis_Gender= count.style.format({'Average Purchase Price': "${:.2f}",
                                                            'Total Purchase Value': "${:,.2f}",
                                                           'Avg Total Purchase per Person': "${:.2f}"})

Purchasing_Analysis_Gender

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
Binned = pd.cut(duplicateless["Age"], 
                bins=[0,9,14,19,24,29,34,39,100], 
                labels = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"])
binned= Binned.value_counts().to_frame()

binned["Percentage of Players"]=(binned["Age"]/binned["Age"].sum())*100
binned.columns = ['Total Count', 'Percentage of Players']
binned=binned.sort_index()

formatted_Age_Demographics_df = binned.style.format({'Percentage of Players': "{:.2f}%"})
formatted_Age_Demographics_df

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
Purchasing_Analysis = pd.cut(purchase_data["Age"], 
                bins=[0,9,14,19,24,29,34,39,100], 
                labels = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"])


Purchasing_Analysisdf= Purchasing_Analysis.value_counts().to_frame()

new_purchase_data = purchase_data
new_purchase_data["bins"] = Purchasing_Analysis
new_purchase_data.head()
grouped_new_purchase_data =  new_purchase_data.groupby("bins")


Purchasing_Analysisdf["Average Purchase Price"]=grouped_new_purchase_data["Price"].mean()
Purchasing_Analysisdf["Total Purchase Value"]=grouped_new_purchase_data["Price"].sum()
Purchasing_Analysisdf["Avg Total Purchase per Person"]= Purchasing_Analysisdf["Total Purchase Value"]/binned['Total Count']
Purchasing_Analysisdf=Purchasing_Analysisdf.sort_index()
Purchasing_Analysisdf.index.name = 'Age Ranges'
Purchasing_Analysisdf.columns = ['Purchase Count', 'Average Purchase Price',"Total Purchase Value","Avg Total Purchase per Person"]

formatted_Purchasing_Analysis_df = Purchasing_Analysisdf.style.format({'Average Purchase Price': "${:.2f}",
                                                            'Total Purchase Value': "${:.2f}",
                                                           'Avg Total Purchase per Person': "${:.2f}"})
formatted_Purchasing_Analysis_df

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [8]:
count_SN=purchase_data["SN"].value_counts().to_frame()
count_SN
grouped_SN = purchase_data.groupby(["SN"])
count_SN["Average Purchase Price"]=grouped_SN["Price"].mean()
count_SN["Total Purchase Value"]=grouped_SN["Price"].sum()
count_SN=count_SN.sort_values(by='Total Purchase Value', ascending=False)
count_SN.columns = ['Purchase Count', 'Average Purchase Price',"Total Purchase Value"]
count_SN.head(5)
count_SN.index.name = 'SN'

count_SN_summary= count_SN.iloc[0:5,:]
count_SN_summary = count_SN_summary.style.format({'Average Purchase Price': "${:.2f}",'Total Purchase Value': "${:.2f}"})
count_SN_summary

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [9]:

grouped_ID = purchase_data.groupby(["Item ID"])

count_ID = grouped_ID["Item Name"].value_counts().to_frame()

regrouped= purchase_data.groupby(["Item ID","Item Name"])
count_ID["Item Price"] = regrouped["Price"].mean()
count_ID["Total_Purchase_Value"]=regrouped["Price"].sum()



count_ID.columns = ['Purchase Count', 'Percentage of Players',"Total Purchase Value"]
count_ID=count_ID.sort_values(by='Purchase Count', ascending=False)

count_ID_summary= count_ID.iloc[0:5,:]
count_ID_summary = count_ID_summary.style.format({'Percentage of Players': "{:.2f}%",'Total Purchase Value': "${:.2f}"})
count_ID_summary

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [11]:
count_ID_summary